<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Experienced and innovative software engineer with a proven track record of delivering scalable and efficient
            solutions in full-stack development, automation, cloud technologies, and data science.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Summary</h3>

                <div class="resume-item pb-0">
                    <h4>Sihle Dubazana</h4>
                    <p><em>Experienced Software Engineer with 3+ years of experience in full-stack development,
                            automation,
                            and cloud technologies. Passionate about building efficient and scalable applications that
                            drive
                            business innovation and digital transformation.</em></p>
                    <ul>
                        <li>Johannesburg, South Africa</li>
                        <li>+27 83 498 3952</li>
                        <li>iamdubazana&#64;protonmail.com</li>
                    </ul>
                </div><!-- End Resume Item -->

                <h3 class="resume-title">Education</h3>

                <div class="resume-item">
                    <h4>Certificate (NQF-5) in Software Engineering</h4>
                    <h5>2014 - 2015</h5>
                    <p><em>WethinkCode, Johannesburg, South Africa</em></p>
                    <p>Focus on full-stack development, automation, and integrating cloud technologies.</p>
                </div><!-- End Resume Item -->

                <h3 class="resume-title">Volunteering</h3>

                <div class="resume-item">
                    <h4>Software Engineering Lead</h4>
                    <h5>Jul 2021 - Present · 3 yrs 8 mos</h5>
                    <p><em>Lithalethu, Children</em></p>
                    <ul>
                        <li>Plan, design, and develop distributed services for online presence and day-to-day data
                            management
                            processes.</li>
                        <li>Mentor a team of developers to ensure the delivery of quality solutions that align with the
                            organization's goals.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Scratch Teacher</h4>
                    <h5>Jul 2021 - Present · 3 yrs 8 mos</h5>
                    <p><em>Lithalethu, Children</em></p>
                    <ul>
                        <li>Teach Scratch programming to children, fostering creativity and problem-solving skills.</li>
                        <li>Guide students through building simple projects and introducing basic concepts of coding and
                            logic.
                        </li>
                    </ul>
                </div><!-- End Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>

                <div class="resume-item">
                    <h4>Developer</h4>
                    <h5>Dec 2022 - Present · 2 yrs 3 mos</h5>
                    <p><em>InfoGuardian, Midrand, Gauteng, South Africa</em></p>
                    <ul>
                        <li>Focused on data science, information security, and software development.</li>
                        <li>Utilized Python, Pandas, Kivy, and Flask to build data-driven applications and provide
                            infosec
                            solutions.</li>
                        <li>Developed end-to-end data analysis and reporting systems for secure handling of sensitive
                            data.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>Nov 2022 - Dec 2022 · 2 mos</h5>
                    <p><em>MyDough, South Africa · On-site</em></p>
                    <ul>
                        <li>Recommended and developed features for the frontend using Angular and backend with .NET
                            Framework.
                        </li>
                        <li>Collaborated with the development team to deliver scalable solutions with a focus on
                            performance and
                            security.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Software Engineer Intern</h4>
                    <h5>Apr 2022 - Jul 2022 · 4 mos</h5>
                    <p><em>African Bank, Midrand, Gauteng, South Africa</em></p>
                    <ul>
                        <li>Automated AWS DevOps scripts and built innovative microservices and web services (including
                            REST
                            APIs).</li>
                        <li>Utilized Cloud Foundry to improve the efficiency of building and deploying cloud-based
                            applications.
                        </li>
                        <li>Worked on integrating AWS Lambda for serverless functions and optimized cloud
                            infrastructure.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Automation Engineer Intern</h4>
                    <h5>May 2021 - Jul 2021 · 3 mos</h5>
                    <p><em>African Bank, Midrand, Gauteng, South Africa</em></p>
                    <ul>
                        <li>Automated AWS DevOps tasks and VMware automation with PowerShell to streamline
                            infrastructure
                            management.</li>
                        <li>Implemented bot functionality to AWS Lex and AWS Lambda for enhanced user interaction and
                            process
                            automation.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Furniture Designer</h4>
                    <h5>Feb 2014 - Feb 2020 · 6 yrs 1 mo</h5>
                    <p><em>Auvergne Design, South Africa</em></p>
                    <ul>
                        <li>Designed and produced custom furniture, focusing on quality and ergonomic functionality.
                        </li>
                        <li>Collaborated with clients to understand their design needs and provided tailored solutions.
                        </li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Administrative Clerk Intern</h4>
                    <h5>Mar 2013 - Jan 2014 · 11 mos</h5>
                    <p><em>Moroka Clinic, Soweto, Gauteng, South Africa</em></p>
                    <ul>
                        <li>Assisted with registration, information management, and file arrangement tasks.</li>
                        <li>Provided support in maintaining clinic records and scheduling appointments.</li>
                    </ul>
                </div><!-- End Resume Item -->

            </div>

        </div>

    </div>

</section>