<section class="services section dark-background">
<div class="container section-title" data-aos="fade-up">
    <div class="row">
        <h1 class="fw-bold lh-base text-center mb-5">Why Choose Us?</h1>
        <div class="col-xl-4 py-5">
            <div class="intro-content d-flex-column justify-content-center">
                <p class="mt-3"><em class=" fw-bold mt-3">Authenticity </em>-  Every piece is uniquely handcrafted, ensuring originality and authenticity. No two items are exactly the same, making each one a true work of art.</p>
                <p class="mt-3"><em class=" fw-bold mt-3">Sustainability </em>-  We are committed to using eco-friendly materials, promoting sustainability and minimizing our environmental impact. The natural beauty of our materials ensures our products are both beautiful and environmentally conscious.</p>
            </div>
        </div>
        <div class="col-xl-4 d-flex px-lg-4">
            <div class="intro-img col-md-11 d-flex">
            </div>
        </div>
        <div class="col-xl-4 py-5">
            <div class="intro-content d-flex-column justify-content-center">
                <p class="mt-3"><em class="fw-bold mt-3">Cultural Heritage </em>- We honor and preserve the rich cultural heritage embedded in traditional craftsmanship. Our work is a celebration of the stories, history, and practices of the communities</p>
                <p class="mt-3"><em class="fw-bold mt-3">Custom Creations </em>- At Inyanga Hand Made Crafts, we believe that art should reflect individuality. We offer custom creations tailored to your specific needs and desires, bringing your ideas to life through unique designs.</p>
            </div>
        </div>
    </div>
</div>
</section>