<section id="hero" class="hero section dark-background">
    <div class="main-slider pattern-overlay">
        <div class="slider-item">
            <div class="banner-content">
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                    <h2><em>Inyanga</em> Hand <em>Made</em> Crafts</h2>
                    <h3>Handmade Art, Inspired by Tradition</h3>
                    <p>
                        We
                        <span class="typed" data-typed-items="Paint, Sculpt, Weave, Carve, Craft">Create</span>
                        <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
                    </p>
                    <div class="hero-buttons">
                        <a href="/shop" class="btn btn-primary">Shop Now</a>
                        <a href="/about" class="btn btn-outline">Explore</a>
                    </div>
                </div>
            </div>
            <img src="images/pottery.jpg" alt="banner" class="banner-image">
        </div>
    </div>
</section>
