<section class="services section">
    <div class="container py-5 section-title" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-5 d-flex">
                <div class="intro-img col-md-11 d-flex">
                    <div class="intro-img-outer col-md-1 d-flex">
                        <div class="intro-img-inner">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 py-5 ps-lg-4">
                <div class="intro-content d-flex-column justify-content-center ">
                    <h1 class="fw-bold lh-base">Our Mission</h1>
                    <p>
                        Our mission at Inyanga Hand Made Crafts is to celebrate the rich heritage of craftsmanship while promoting sustainable and ethical practices. We are dedicated to creating products that not only reflect cultural stories and traditions but also contribute positively to the environment. We carefully source eco-friendly materials, ensuring that every product is made with sustainability in mind. This commitment extends beyond the materials we use; we also focus on ethical labor practices, working closely with local artisans who share our values.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
