<section id="services" class="services section">
    <div class="container py-5 section-title" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-5 d-flex">
                <div class="intro-img col-md-11 d-flex">
                    <div class="intro-img-outer col-md-1 d-flex">
                        <div class="intro-img-inner">
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 py-5">
                <div class="intro-content d-flex-column justify-content-center ps-lg-4">
                    <h5 class="fw-bold lh-base">About Us</h5>
                    <h1 class="fw-bold lh-base">Inyanga Hand Made Crafts</h1>
                    <p>
                        At Inyanga Hand Made Crafts, we believe that every piece of art tells a story. Our passion for
                        traditional and contemporary craftsmanship is reflected in the quality of our carefully handcrafted
                        products. Whether it's painting, sculpting, weaving, carving, or crafting, our creations are infused
                        with skill, creativity, and authenticity. We are committed to making each item a unique expression
                        of artistry that adds beauty and meaning to the lives of our customers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
