<div class="product-section">

    <div class="page-heading mb-5" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Our Gallery</h2>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row py-5">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="fw-bold">Our Collection</h2>
                    <span>Explore the beauty of handcrafted artistry, where tradition meets creativity.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-filter-grid [items]="productList" [protuct_types]="product_catagorys"></app-filter-grid>
<div class="call-to-action">
    <div class="container py-5">

        <div class="d-flex justify-content-center flex-column">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <h3 class="fw-bold">Bring Handmade Beauty to Your Life!</h3>
                    <p>Shop now and own a unique piece of handcrafted art.</p>
                </div>
                <div class="col-md-6 gap-2 d-flex justify-content-center align-items-center">
                    <a href="shop" class="d-flex justify-content-center align-items-center bs">Browse Our Collection</a>
                    <a href="#contact" class="d-flex justify-content-center align-items-center co">Get a Custom Order</a>
                </div>
            </div>
        </div>
    </div>
</div>