.co{
    border: solid 0.2rem var(--dark-color);
    color: var(--dark-color);
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: 5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    
    .co{
        height: 2.5rem;
        padding: 0 1rem;
        font-size: 0.8rem;
        border-radius: 5rem;
        font-weight: 600;
        max-width: 60dvw;
        width: 100%;
    }
}
