<section id="products" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Products</h2>
        <p>Explore our wide range of handcrafted art and craft items.</p>
    </div>

    <app-filter-grid [items]="productList" [protuct_types]="product_catagorys"></app-filter-grid>
    <div class="d-flex align-items-center justify-content-center mt-3">
        <a class="co" href="/gallery">Browse Our Collection</a>
    </div>
</section>