<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title pt-5" data-aos="fade-up">
        <h2>About <em class="fw-bold">Us</em></h2>
        <p>
            At Inyanga Hand Made Crafts, we believe that every piece of art tells a story. Our passion for traditional
            and contemporary craftsmanship is reflected in our carefully handcrafted products. Whether it's painting,
            sculpting, weaving, carving, or crafting, our creations are infused with skill, creativity, and
            authenticity.
        </p>
        <br>
        <p>
            We take pride in preserving artistic traditions while embracing innovation, offering unique, handmade
            treasures that bring warmth and character to your space.
        </p>
    </div>
    <div class="container section-title" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-5 d-flex">
                <div class="intro-img col-md-11 d-flex">
                    <div class="intro-img-outer col-md-1 d-flex">
                        <div class="intro-img-inner">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 py-5">
                <div class="intro-content d-flex-column justify-content-center ps-lg-4">
                    <h4 class="fw-bold lh-base">Why Choose Us?</h4>
                    <p class="mt-3"><span class="icon">✔️</span> <em class="mt-3">Authenticity </em>- Uniquely handcrafted, ensuring originality and integrity.</p>
                    <p class="mt-3"><span class="icon">✔️</span> <em class="mt-3">Sustainability </em>- Eco-friendly materials and ethical craftsmanship.</p>
                    <p class="mt-3"><span class="icon">✔️</span> <em class="mt-3">Cultural Heritage </em>- Celebrating traditions, connecting past and present.</p>
                    <p class="mt-3 mb-4 "><span class="icon">✔️</span> <em class="mt-3">Custom Creations </em>- Bringing ideas to life with bespoke designs.</p>
                    <a class="more" href="/about">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>