<!-- Hero Section -->
<app-hero-section></app-hero-section>

<!-- About Section -->
<app-about-section></app-about-section>

<!-- Skills Section -->
<app-skills-section></app-skills-section>

<!-- Resume Section -->
<app-resume-section></app-resume-section>

<!-- Portfolio Section -->
<app-portfolio-section></app-portfolio-section>

<!-- Services Section -->
<app-services-section></app-services-section>

<!-- Testimonials Section -->
<app-testimonials-section></app-testimonials-section>

<!-- Contact Section -->
<app-contact-section></app-contact-section>

