<section class="services section light-background">
    <div class="container py-5 section-title" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-7 py-5">
                <div class="intro-content d-flex-column justify-content-center ">
                    <h1 class="fw-bold lh-base">Our Craftsmanship</h1>
                    <p>
                        Each piece we create is a testament to the dedication and passion of our artisans. We work with a wide range of materials — from natural fibers and clay to wood, metal, and gemstones — to bring to life functional art that stands the test of time. Every item is meticulously handcrafted with care, reflecting both the techniques passed down through generations and the innovative spirit of contemporary design.
                    </p>
                    <br>
                    <p>Our craftsmen and women are not just artisans; they are keepers of traditions. Many of the techniques we use have been passed down through generations, and we are proud to uphold and preserve these practices. Our work combines old-world artistry with a modern sensibility, creating pieces that are timeless yet relevant in today’s world.</p>
                </div>
            </div>
            <div class="col-xl-5 d-flex ps-lg-4">
                <div class="intro-img col-md-11 d-flex">
                    <div class="intro-img-outer col-md-1 d-flex">
                        <div class="intro-img-inner">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>